<launch>

  <include file="$(find colorblob_tracker)/launch/launch_sphero_color_blob_tracker.launch">
    <remap from="tracked_pos" to="/sphero_pos" />
    <remap from="target_pos" to="/sphero_target_pos" />
  </include>

  <node pkg="sphero_ctrl" type="sphero_ctrl.py" name="sphero_ctrl"/>
</launch>
